body {
    background-image: url(../images/circles-light.png);
}

.content1
{
    display: inline-block;
    width: 960px;
    height: 400px;
    padding: 5px 5px;
    border: .5px solid #dddddd;
    background-color: #fff;
    position: fixed;
    left: 208px;
    top: 150px;
}

#propic
{
    height: 150px;
    width: 17%;
    float: left;
    padding: 20px;
}

h2 {
border-bottom-style: solid;
border-bottom-width: 3px;
border-bottom-color: #dddddd;
border-spacing: 15px;
width: 900px;
margin: 0px 10px 0px 10px;
color: #4aaaa5;
font-family: 'Georgia', Times, Times New Roman, serif;
}

h1 {
    background-color: #4aaaa5;
    color: #fff;
    width: 200px;
    position: fixed;
    left: 208px;
    top: 1px;
    text-align: center;
    height: 100px;
}




.AboutLink {
    position:fixed;
    right:300px;
    top:70px;
}

.PortfolioLink {
    position:fixed;
    right:200px;
    top:70px;
}

.ContactLink {
    position:fixed;
    right:100px;
    top:70px;
}